# for https and reverse nginx proxy:
# just for production
VIRTUAL_HOST=localhost
SSL_EMAIL=technicalemail@example.com
PHPMYADMIN_VIRTUAL_HOST=phpmyadmin.localhost

# for database creation:
MYSQL_ROOT_PASSWORD=password
MOODLE_DB_HOST=db
MOODLE_DB_NAME=moodle
MOODLE_MYSQL_USER=dbuser
MOODLE_MYSQL_PASSWORD=dbpassword

SSL_PROXY=false
MOODLE_URL=http://localhost

# for installing moodle, user data:
MOODLE_ADMIN_USER=adminuser
MOODLE_ADMIN_PASSWORD=adminpassword
MOODLE_ADMIN_EMAIL=example@example.com
MOODLE_LANG=en
MOODLE_SITE_NAME=MySite
MOODLE_SITE_FULLNAME=This is my awesome site

# Needs for init-scripts and plugin configuration
SMTP_HOSTS=smtp.host.com
SMTP_USER=user@localhost
SMTP_PASSWORD=password
SMTP_MAXBULK=100
NO_REPLY_ADDRESS=noreply@localhost
CRON_BROWSER_PASS=cronpass
MOODLE_MANAGER=mail@manageres
MANAGER_PASSWORD=myverystrongpass

ASESORIA_PASSWORD=myverystrongpass
ASESORIA_EMAIL=asesor@aeducar.es

# Installation specific
INSTALL_TYPE=new-install
SCHOOL_TYPE=CPI
